<!-- Calculator styling -->

<style type="text/css">
{% include bernoulli-runs-simulator/style.css %}
</style>


<!-- Calculator layout -->

<div id="bernoulli-calculator">
<div id="bernoulli-title">Calculate the probability of success runs in independent Bernoulli trials</div>

<div class="calculator-input">
  <label for="bernoulli-k">Minimum length of each run:</label>
  <input type="number" min="2" step="1" id="bernoulli-k" value="4" />
</div>

<div class="calculator-input">
  <label for="bernoulli-n">Total number of trials:</label>
  <input type="number" min="2" step="1" id="bernoulli-n" value="5" />
</div>

<div class="calculator-input">
  <label for="bernoulli-p">Probability of success in each trial:</label>
  <input type="number" min="0" max="1" step="0.01" id="bernoulli-p" value="0.17" />
</div>

<div class="calculator-input">
  <label for="bernoulli-x">Number of runs:</label>
  <input type="number" min="1" step="1" id="bernoulli-x" value="1" />
</div>

<div class="button-wrapper">
  <button id="bernoulli-button" type="submit">Calculate</button>
</div>

<div id="bernoulli-result-box">
  <label for="bernoulli-result">Result:</label>
  <span id="bernoulli-result"></span>
</div>
</div>


<!-- Simulation code -->

<script type="text/javascript">
{% include bernoulli-runs-simulator/simulation.js %}
</script>


<!-- Show/hide code -->

<script type="text/javascript">
/* Get page elements */
var button = document.getElementById("bernoulli-button");
var calc = document.getElementById("bernoulli-calculator");
var showHide = document.getElementById("bernoulli-showhide");

/* Initialize page */
//var calcVisible = false;
calc.style.display = "none";
showHide.innerHTML = "Show";

/* Show/Hide calculator */
showHide.addEventListener("click", function toggleShowHide(e) {
    if (calc.style.display === "none") {
        showHide.innerHTML = "Show";
        calcVisible = false;
    } else {
        calc.style.display = "block";
        showHide.innerHTML = "Hide";
    }
})

/* Run calculator */
button.addEventListener("click", function runCalculator(e) {
  var inputs = ['k','n','p','x'].map(function(varname) {
    elem = document.getElementById("bernoulli-" + varname)
    return Number(elem.value);
  })

  result = calculateProbability(...inputs);
  console.log(result);

  try {
    result_output = result.toPrecision(2);
    result_label = "Result:";
  } catch(e) {
    result_output = result;
    result_label = "Error:";
  }

  document.querySelector('label[for="bernoulli-result"]').innerHTML = result_label;
  document.getElementById("bernoulli-result").innerHTML = result_output;
})
</script>
